<form [formGroup]="form">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input formControlName="name" type="text" class="form-control" id="name">
        </div>
    </div>
    <div formArrayName="tags">
        <ng-template ngFor let-tag let-i="index" [ngForOf]="tagOptions.controls">
            <div [formGroupName]="i">
                <div class="form-check">
                    <label for="{{'tag'+i}}" class="form-check-label">{{tag.value.name}}</label>
                    <input formControlName="selected" class="form-check-input" type="checkbox" id="{{'tag'+i}}">
                </div>
            </div>
        </ng-template>
    </div>
    <button class="btn btn-primary" (click)="applySearch()">Search</button>
</form>