<div class="col-1">
    <div class="btn-group" role="group">
        <button (click)="goBack()" type="button" class="btn btn-default">
            <fa-icon [icon]="backIcon"></fa-icon>
        </button>
    </div>
</div>
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">{{data.name}}</h1>
        <ng-template ngFor let-desc [ngForOf]="data.description.split('\\n')">
            <p class="lead my-3">{{desc}}
        </ng-template>
    </div>
</div>
<div class="row g-5">
    <div class="col-md-8">
        <ng-template [ngIf]="weaponProgression && weaponProgression.paths && weaponProgression.paths.length > 0">
            <weapon-paths [stats]="weaponProgression"></weapon-paths>
        </ng-template>
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <th scope="col">
                </th>
                <th scope="col">
                    Physical
                </th>
                <th scope="col">
                    Magic
                </th>
                <th scope="col">
                    Fire
                </th>
                <th scope="col">
                    Lightning
                </th>
                <th scope="col">
                    Critical
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Damage</td>
                    <td>{{data.damage.physical}}</td>
                    <td>{{data.damage.magic}}</td>
                    <td>{{data.damage.fire}}</td>
                    <td>{{data.damage.lightning}}</td>
                    <td>{{data.damage.critical}}</td>
                </tr>
                <tr>
                    <td>Defense</td>
                    <td>{{data.damageReduction.physical}}</td>
                    <td>{{data.damageReduction.magic}}</td>
                    <td>{{data.damageReduction.fire}}</td>
                    <td>{{data.damageReduction.lightning}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <th scope="col">
                </th>
                <th scope="col">
                    Strength
                </th>
                <th scope="col">
                    Dexterity
                </th>
                <th scope="col">
                    Intelligence
                </th>
                <th scope="col">
                    Faith
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Requirements</td>
                    <td>{{data.requirements.strength}}</td>
                    <td>{{data.requirements.dexterity}}</td>
                    <td>{{data.requirements.intelligence}}</td>
                    <td>{{data.requirements.faith}}</td>
                </tr>
                <tr>
                    <td>Bonus</td>
                    <td>{{data.bonus.strength}}</td>
                    <td>{{data.bonus.dexterity}}</td>
                    <td>{{data.bonus.intelligence}}</td>
                    <td>{{data.bonus.faith}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <th scope="col">
                    Durability
                </th>
                <th scope="col">
                    Stability
                </th>
                <th scope="col">
                    Weight
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>{{data.durability}}</td>
                    <td>{{data.stability}}</td>
                    <td>{{data.weight}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>