<table class="table">
    <thead>
        <th scope="col">
        </th>
        <th scope="col">
            Physical
        </th>
        <th scope="col">
            Magic
        </th>
        <th scope="col">
            Fire
        </th>
        <th scope="col">
            Lightning
        </th>
        <th scope="col">
            Critical
        </th>
    </thead>
    <tbody>
        <tr>
            <td>Damage</td>
            <td>{{level.damage.physical}}</td>
            <td>{{level.damage.magic}}</td>
            <td>{{level.damage.fire}}</td>
            <td>{{level.damage.lightning}}</td>
            <td>{{level.damage.critical}}</td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>{{level.damageReduction.physical}}</td>
            <td>{{level.damageReduction.magic}}</td>
            <td>{{level.damageReduction.fire}}</td>
            <td>{{level.damageReduction.lightning}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <th scope="col">
        </th>
        <th scope="col">
            Strength
        </th>
        <th scope="col">
            Dexterity
        </th>
        <th scope="col">
            Intelligence
        </th>
        <th scope="col">
            Faith
        </th>
    </thead>
    <tbody>
        <tr>
            <td>Requirements</td>
            <td>{{weapon.requirements.strength}}</td>
            <td>{{weapon.requirements.dexterity}}</td>
            <td>{{weapon.requirements.intelligence}}</td>
            <td>{{weapon.requirements.faith}}</td>
        </tr>
        <tr>
            <td>Bonus</td>
            <td>{{level.bonus.strength}}</td>
            <td>{{level.bonus.dexterity}}</td>
            <td>{{level.bonus.intelligence}}</td>
            <td>{{level.bonus.faith}}</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <th scope="col">
            Durability
        </th>
        <th scope="col">
            Stability
        </th>
        <th scope="col">
            Weight
        </th>
    </thead>
    <tbody>
        <tr>
            <td>{{weapon.durability}}</td>
            <td>{{weapon.stability}}</td>
            <td>{{weapon.weight}}</td>
        </tr>
    </tbody>
</table>
<select class="form-select" aria-label="Level select" (change)="changeLevel($event)">
    <ng-template ngFor let-l [ngForOf]="levels">
        <option [selected]="selectedLevel === l">{{ l }}</option>
    </ng-template>
</select>