<table class="table">
    <thead>
        <th scope="col">
        </th>
        <th scope="col">
            Physical
        </th>
        <th scope="col">
            Magic
        </th>
        <th scope="col">
            Fire
        </th>
        <th scope="col">
            Lightning
        </th>
        <th scope="col">
            Critical
        </th>
    </thead>
    <tbody>
        <tr>
            <td>Damage</td>
            <td>{{data.damage.physical}}</td>
            <td>{{data.damage.magic}}</td>
            <td>{{data.damage.fire}}</td>
            <td>{{data.damage.lightning}}</td>
            <td>{{data.damage.critical}}</td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>{{data.damageReduction.physical}}</td>
            <td>{{data.damageReduction.magic}}</td>
            <td>{{data.damageReduction.fire}}</td>
            <td>{{data.damageReduction.lightning}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <th scope="col">
        </th>
        <th scope="col">
            Strength
        </th>
        <th scope="col">
            Dexterity
        </th>
        <th scope="col">
            Intelligence
        </th>
        <th scope="col">
            Faith
        </th>
    </thead>
    <tbody>
        <tr>
            <td>Requirements</td>
            <td>{{data.requirements.strength}}</td>
            <td>{{data.requirements.dexterity}}</td>
            <td>{{data.requirements.intelligence}}</td>
            <td>{{data.requirements.faith}}</td>
        </tr>
        <tr>
            <td>Bonus</td>
            <td>{{data.bonus.strength}}</td>
            <td>{{data.bonus.dexterity}}</td>
            <td>{{data.bonus.intelligence}}</td>
            <td>{{data.bonus.faith}}</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <th scope="col">
            Durability
        </th>
        <th scope="col">
            Stability
        </th>
        <th scope="col">
            Weight
        </th>
    </thead>
    <tbody>
        <tr>
            <td>{{data.durability}}</td>
            <td>{{data.stability}}</td>
            <td>{{data.weight}}</td>
        </tr>
    </tbody>
</table>