<div class="input-group" *ngFor="let selection of selections; let i = index">
    <button type="button" class="btn btn-primary" (click)="onRemoveSelection(i)">-</button>
    <select class="form-select" aria-label="Filter select" (change)="onSelectOption($event, i)">
        <option *ngFor="let option of options">{{option.name}}</option>
    </select>
</div>
<button type="button" class="btn btn-primary" (click)="onAddSelection()">+</button>
<button type="button" class="btn btn-primary" (click)="onApplyFilter()">Apply</button>