<ng-template ngFor let-selection [ngForOf]="selections" let-i="index">
    <div class="input-group">
        <button type="button" class="btn btn-primary" (click)="onRemoveSelection(i)">-</button>
        <select class="form-select" aria-label="Filter select" (change)="onSelectOption($event, i)">
            <ng-template ngFor let-option [ngForOf]="options">
                <option>{{option.name}}</option>
            </ng-template>
        </select>
    </div>
</ng-template>
<button type="button" class="btn btn-primary" (click)="onAddSelection()">+</button>
<button type="button" class="btn btn-primary" (click)="onApplyFilter()">Apply</button>