<div class="row">
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="toggleSearch()">Search</button>
            <item-list [selection]="paginator.data" (pickOption)="selectItem($event)"></item-list>
        </div>

        <div class="col-9">
            <ng-template [ngIf]="searchActive" [ngIfElse]="info">
                <item-search></item-search>
            </ng-template>
            <ng-template #info>
                <item-info [data]="selected"></item-info>
            </ng-template>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-navigation [paginator]="paginator"></pagination-navigation>
    </div>
</div>