<chart-stacked [scale]="levels" [lines]="lines"></chart-stacked>
<div class="row">
    <div class="btn-group">
        <a (click)="loadGroup('damage')" class="btn btn-primary" [ngClass]="{ 'active': selectedGroup === 'damage'}">Damage</a>
        <a (click)="loadGroup('defense')" class="btn btn-primary" [ngClass]="{ 'active': selectedGroup === 'defense'}">Defense</a>
    </div>
</div>
<div class="row">
    <div class="btn-group">
        <ng-template ngFor let-p [ngForOf]="stats.paths">
            <a (click)="select(p)" class="btn btn-primary" [ngClass]="{ 'active': p.path === selected.path }">{{ p.path
                }}</a>
        </ng-template>
    </div>
</div>